body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}

.wrapper {
    text-align: center;
}

.topframe, .bottomframe {
    margin: 20px 0;
}

.prizes {
    margin: 5px 0;
}

.logoimage {
    width: 200px;
    height: auto;
}

.answerframe {
    display: flex;
    flex-direction: column;
}

.answers {
    background-color: #444;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.answers:hover {
    background-color: #666;
}

#start {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}

#start:hover {
    background-color: #218838;
}
.prizes {
    background-color: rgb(0, 0, 0); /* Default color */
}

.prize-highlight {
    background-color: rgb(255, 145, 0); /* Highlight color */
}
.helpbutton{
    background-color: rgb(248, 248, 248); /* Highlight color */
    height: 125px;

}
.helpframe{
    display: flex;

}
